<header>
    <h1>Política de Privacidad</h1>
  </header>
  <main>

    <p>En MenuUp, valoramos tu privacidad. Esta política de privacidad describe cómo recopilamos, utilizamos y protegemos tu información personal cuando visitas nuestro sitio web.

        Información que Recopilamos:
        
        Información que nos proporcionas: Cuando te registras o nos contactas, podemos recopilar tu nombre, dirección de correo electrónico y otra información que nos proporcionas voluntariamente.
        Información recopilada automáticamente: Cuando visitas nuestro sitio web, podemos recopilar automáticamente cierta información, como tu dirección IP, tipo de navegador, sistema operativo y páginas visitadas.   
        Cómo Utilizamos tu Información:
        
        Para proporcionarte nuestros servicios: Utilizamos tu información para crear tu cuenta, procesar tus pedidos y responder a tus consultas.
        Para mejorar nuestro sitio web: Utilizamos datos agregados y anónimos para analizar el tráfico del sitio web y mejorar su experiencia.
        Para comunicarnos contigo: Podemos utilizar tu dirección de correo electrónico para enviarte actualizaciones, noticias y ofertas especiales.
        Cómo Protegemos tu Información:
        
        Implementamos medidas de seguridad razonables para proteger tu información personal de acceso no autorizado, divulgación, alteración o destrucción.
        
        Tus Derechos:
        
        Tienes derecho a acceder, corregir o eliminar tu información personal. Puedes ejercer estos derechos contactándonos a [Tu dirección de correo electrónico].
        
        Cambios a esta Política:
        
        Podemos actualizar esta política de privacidad ocasionalmente. Te notificaremos sobre cualquier cambio importante.
        
        Contacto:
        
        Si tienes alguna pregunta sobre esta política de privacidad, contáctanos a [Tu dirección de correo electrónico].</p>
  </main>
