<div class="contianer-header">
    <div class="container-option">
      <button mat-button routerLink="/web/feed/menus" routerLinkActive="active" class="btn-icon" mat-button >
        <img class="icon" src="https://firebasestorage.googleapis.com/v0/b/menu-app-c542c.appspot.com/o/web%2Fsearch%2Ficons8-menu-50.png?alt=media&token=7e44c868-fc88-4159-8dfb-c71fb9984b81" alt="">
        <img class="icon icon-active" src="https://firebasestorage.googleapis.com/v0/b/menu-app-c542c.appspot.com/o/web%2Fsearch%2Factive%2Ficons8-menu-50%20(1).png?alt=media&token=b03ab984-7b80-4820-86f6-37902410d835" alt="">
      </button>
      <button mat-button routerLink="/web/feed/plats" routerLinkActive="active" class="btn-icon" mat-button >
        <img class="icon" src="https://firebasestorage.googleapis.com/v0/b/menu-app-c542c.appspot.com/o/web%2Fsearch%2Ficons8-meal-50.png?alt=media&token=e28b25c7-05b9-419b-9594-b6ba2e723df0" alt="">
        <img class="icon icon-active" src="https://firebasestorage.googleapis.com/v0/b/menu-app-c542c.appspot.com/o/web%2Fsearch%2Factive%2Ficons8-meal-50%20(1).png?alt=media&token=4c750344-7d9e-42c7-8163-21e55ed18091" alt="">

      </button>
      <button mat-button  routerLink="/web/feed/promos" routerLinkActive="active" class="btn-icon" mat-button >
        <img class="icon" src="https://firebasestorage.googleapis.com/v0/b/menu-app-c542c.appspot.com/o/web%2Fsearch%2Ficons8-promo-50.png?alt=media&token=f6a23c67-828d-4656-a8d6-f4548ba0af2b" alt="">
        <img class="icon icon-active" src="https://firebasestorage.googleapis.com/v0/b/menu-app-c542c.appspot.com/o/web%2Fsearch%2Factive%2Ficons8-promo-50%20(1).png?alt=media&token=3231d7bd-9cb3-4627-9be2-f10257e2dc16" alt="">

      </button>
      <!-- <button mat-button routerLink="/web/feed/places" routerLinkActive="active" class="btn-icon" mat-button >
        <img class="icon" src="https://firebasestorage.googleapis.com/v0/b/menu-app-c542c.appspot.com/o/web%2Fsearch%2Ficons8-restaurant-50.png?alt=media&token=945abb9a-d92a-4d25-896b-e73f009aecc4" alt="">
        <img class="icon icon-active" src="https://firebasestorage.googleapis.com/v0/b/menu-app-c542c.appspot.com/o/web%2Fsearch%2Factive%2Ficons8-restaurant-50%20(1).png?alt=media&token=223738de-5a59-49c7-affb-927147f5ae13" alt="">

      </button> -->
    </div>
</div>
<div class="container-router-feed">
    <router-outlet></router-outlet>
</div>
