<div  class="content-img-header">
    <img [src]="qrCodeImage" alt="" class="mat-elevation-z3" >
</div>
<div class="container-info">
  <mat-list class="list" >
    <mat-list-item class="item-list" [ngStyle]="{'background-color': busines.principalColor  ? lightenColor(busines.principalColor, 15) : '#f7f7f7'  }" >
      <mat-icon [ngStyle]="{'color': busines.secondaryColor  ? busines.secondaryColor : '#2b2b2b'  }" class="icon" matListItemIcon >pin_drop</mat-icon>
      <span [ngStyle]="{'color': busines.secondaryColor  ? busines.secondaryColor : '#2b2b2b'  }"  matListItemTitle class="title" >Dirección:</span>
      <span [ngStyle]="{'color': busines.secondaryColor ? busines.secondaryColor : '#2b2b2b'  }" matListItemLine class="line" >{{busines.adress ? busines.adress : 'Dirección sin registrar'}} </span>
    </mat-list-item>

    <mat-list-item class="item-list" [ngStyle]="{'background-color': busines.principalColor  ? lightenColor(busines.principalColor, 15) : '#f7f7f7'  }" >
      <mat-icon [ngStyle]="{'color': busines.secondaryColor  ? busines.secondaryColor : '#2b2b2b'  }" class="icon" matListItemIcon >pin_drop</mat-icon>
      <span [ngStyle]="{'color': busines.secondaryColor  ? busines.secondaryColor : '#2b2b2b'  }"  matListItemTitle class="title" >Whatsapp:</span>
      <span [ngStyle]="{'color': busines.secondaryColor ? busines.secondaryColor : '#2b2b2b'  }" matListItemLine class="line" >{{busines.phone ? busines.phone : 'Teléfono sin registrar'}} </span>
    </mat-list-item>

    
    
  </mat-list>



</div>
