<mat-drawer-container class="big-drawer" >
    <mat-drawer #drawer >
        <mat-toolbar class="toolbar-drawer" >
            <button mat-icon-button (click)="drawer.toggle()" >
                <mat-icon>menu</mat-icon>
            </button>

            
        </mat-toolbar>

        <div class="container-list-option">
            <mat-list class="container-list-option">
               @if (!currentUser) {
                   <mat-list routerLink="/app-samari/control/demo"  class="btn btn-dark mat-elevation-z3" >
                       <span class="title" matListItemTitle >Probar Gratis</span>
                   </mat-list>
               }
           @if (currentUser) {
               <mat-list (click)="drawer.toggle()" routerLink="/user/account" class="btn btn-white mat-elevation-z3" >
                   <mat-icon matListItemIcon >account_circle</mat-icon>
                   <span matListItemTitle >Ir a mi cuenta</span>
               </mat-list>
               <mat-list (click)="drawer.toggle()" routerLink="/user/home" class="btn btn-white mat-elevation-z3" >
                <mat-icon matListItemIcon >list_alt</mat-icon>
                <span matListItemTitle >Mis menus</span>
            </mat-list>
               <mat-list routerLink="/" (click)="logout()"  class="btn btn-dark mat-elevation-z3" >
                   <!-- <mat-icon class="icon" matListItemIcon >workspace_premium</mat-icon> -->
                   <span class="title" matListItemTitle >Cerrar sesión</span>
               </mat-list>
           }@else {
            <mat-list (click)="drawer.toggle()" routerLink="/user/home" class="btn btn-white mat-elevation-z3" >
                <mat-icon matListItemIcon >list_alt</mat-icon>
                <span matListItemTitle >Mi menu</span>
            </mat-list>
               <mat-list (click)="drawer.toggle()" routerLink="/user/account"  class="btn btn-white mat-elevation-z3 " >
                   <mat-icon matListItemIcon >account_circle</mat-icon>
                   <span matListItemTitle >Iniciar sesión</span>
               </mat-list>
     
               <mat-list (click)="drawer.toggle()" routerLink="/user/account"  class="btn btn-white mat-elevation-z3 " >
                   <mat-icon matListItemIcon >how_to_reg</mat-icon>
                   <span matListItemTitle>Registrate</span>
               </mat-list>
               
           }
       </mat-list>   
       </div>
    </mat-drawer>
    <mat-toolbar>
        <button (click)="drawer.toggle()" mat-icon-button >
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
</mat-drawer-container>

