.big-drawer{
    min-height: 100vh;
}
.toolbar-drawer{
    display: flex;
    justify-content: space-between;
    // background-color: #eeeeee;
}

.drawerr{
    max-width: fit-content;
    padding: 0 12px;
    // background-color: #eeeeee;
    
    
}
.container-list-option{
        display: grid;
        // padding: 12px 16px;
        margin-top: 24px;
        row-gap:16px  ;
        padding: 8px;
       
    .btn{
        // min-height: 60px;
        border-radius: 8px;
        padding: 12px 16px;
        align-items: center;
        display: flex;
        align-items: center;
        column-gap: 8px;
        
    }
    .btn-dark{
        background-color: #2b2b2b;
       
        .title{
            color: white !important;
        }
        .icon{
            color: white;
        }
    }
    .btn-white{
        background-color: white;
        color: #2b2b2b;
        

    }

}