.toolbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    background-color: #fafafa;
    span{
        text-align: center;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 800;
        text-align: center;
        letter-spacing: 0.1rem;
        color: #2b2b2b;
    }
    .btn-add-account{
        background-color: #2b2b2b;
        border: 1px solid #e1e1e1;
        padding: 8px 8px;
        // min-height: 60px;
        // height: auto;
        color: white;
        border-radius: 8px;
        font-size: 0.8rem;
        font-weight: 400;
        box-shadow: 2px 2px 4px 0px  #e7e7e7;
        max-width: 240px;
        justify-self: flex-end;
    }
}

.sidenav{
    background-color: #fafafa;
    min-height: 100vh;
    border-radius: 0;
    // width: fit-content;
    width: auto;
    .toolbar-side{
        background-color: #fafafa;
        display: flex;
        justify-content: space-between;
        .samari-side{
            text-align: center;
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 800;
            text-align: center;
            letter-spacing: 0.1rem;

        }
    }
    .container-list-nav{
        margin-top: 24px;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 16px;
        row-gap: 16px;
        padding: 24px 16px;
        background-color: #fafafa;
        .name-menu{
            margin: 0;
            font-size: 1rem;
            font-weight: 800;
            text-align: center;
        }
        .title-list-nav{
            padding-left: 16px;
            font-size: 1.2rem;
            color: #2b2b2b;
            text-align: center;
            font-weight: bold;

        }
        .title-list-nav.premium{
            color: orangered;
        }
        .btn{
            background-color: white;
            border: 1px solid #e1e1e1;
            padding: 12px 32px;
            min-height: 60px;
            height: auto;
            color: #2b2b2b;
            border-radius: 8px;
            font-size: 1rem;
            // font-weight: 800;
            box-shadow: 2px 2px 4px 0px  #e7e7e785;
            cursor: pointer;
            
        }
        .btn-list-menus{
            background-color: orangered;
            color: white;
        }
        .btn-dark{
            background-color: #2b2b2b;
            color: white;
            // font-weight: 400;
        }
        .btn-register{
            // grid-column:  1 / 3;
            display: grid;
            grid-template-columns: auto 1fr;
            row-gap: 8px;
            align-items: center;
            // line-height: 12px;
            .container-text{
                display: grid;
                // row-gap: 4px;
                .title-btn-menu-what{

                }
                .text-prueba{
                    font-size: 0.8rem;
                    color: #a0a0a0;
                    font-weight: 400;
                }

            }
            
        }

        .btn-create-premium{
            color: orangered;
        }

    }
    
    
}
.container-router{
    min-height: 100vh;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #fafafa;
}