@if (barProgress) {
    <mat-progress-bar class="barprofress-top"  mode="query" ></mat-progress-bar>
}
<div class="container-gral">
  <form class="bottom-sheet-container" action="" [formGroup]="myForm" autocomplete="off" >
    <span class="titleform" >{{titleForm}}</span>

    <mat-form-field>
        <mat-label>Nombre de la categoria</mat-label>
        <input formControlName="name" type="text"matInput >
        <mat-hint>Ejemplo: Entradas, Pizzas, Sopas, etc.</mat-hint>
    </mat-form-field>

    <div class="container-add-image">
      
        
        @if (imagePreviewUrl) {
          <input type="file" (change)="changeImage($event)" accept="image/*" hidden #fileInputChange>
          <button  type="button" class="button-image-change" mat-button (click)="fileInputChange.click()">Cambiar imagen(opcional)<mat-icon>image</mat-icon></button>
          <div  class="container-preview-image">
            <img [src]="imagePreviewUrl" alt="Vista previa de la imagen" class="image-product">
          </div>
        }@else {
          <input type="file" (change)="onFileSelected($event)" accept="image/*" hidden #fileInput>
          <button   type="button" class="button-image-unpload" mat-button (click)="fileInput.click()">
            <mat-icon class="icon" >image</mat-icon>
            <div class="content-text">
              <span class="title-btn" >Agrega una imagen a tu categoria (opcional)</span>
             
          </div>
          </button>
          <div class="container-hint">
            <mat-hint  class="hint">Te recomendamos una foto horizontal. </mat-hint>
            <mat-hint class="hint" >Max: 5mb, formato: JPG, PNG y WEBp</mat-hint>
          </div>
        
        }
        
  
      </div>
      <div class="selection-icon">
        <mat-label class="text" >Selecciona un icono(opcional)</mat-label>
       <div class="container-list-icons">
        @for (item of icons; track $index) {
          @if (myForm.get('idIcons')?.value == item.id) {
            <button type="button" class="btn-select btn" (click)="selectedIcon(item.id!)" mat-icon-button >
              <img [src]="item.urlSelected" [alt]="item.name">
            </button>
          }@else {
            <button type="button" class="btn-unselect btn" (click)="selectedIcon(item.id!)" mat-icon-button >
              <img [src]="item.url" [alt]="item.name">
            </button>
          }
        }
       </div>
      </div>
    <button class="add" mat-button (click)="createCategory()"  > <mat-icon class="icon" >save</mat-icon> Guardar</button>
    <button type="button" class="cancel"  mat-button (click)="close()" ><mat-icon class="icon" >cancel</mat-icon> Cancelar</button>
</form>
</div>


