

<div class="container-header">
    <div class="container-carac">
        <div class="container-ahora">
         <span class="ahora" >Ahora</span>
        </div>
         <span class="other-txt" >prueba gratis nuestra app</span>
     </div>
     <div class="container-description">
        <div class="container-slogan">
            <span class="slogan" >Un espacio</span>
            <span class="slogan2" >Para tu menu</span>
        </div>
        <p class="text" >Crea y personaliza menús atractivos de forma fácil y rápida con Samari.</p>
        <div class="container-btn-action">
            <button mat-button routerLink="/app-samari/control/demo" class="action-button mat-elevation-z3" >Inicia ahora gratis</button>
            <div class="container-text-btn">
                <p class="free-text" >Prueba ahora sin costo</p>
            </div>
        </div>
    </div>

</div>
<div class="container-cads-slide">
    <p class="text-title-container-list-cards">Conoce nuestras ventajas</p>
    <div class="list-cards">
        <div class="card">
            <div class="content-text">
                <div class="phrase-one">
                    <span>Simple</span>
                </div>
                <div class="title">
                    <span>Crea un menú</span>
                </div>
                <div class="content-description">
                    <span>Crea menús de manera fácil y rápida.</span>
                </div>
                <div class="content-btn">
                    <!-- <button></button> -->
                </div>
            </div>
            <div class="content-img">
                <img class="image-card" [src]="urlMenu" alt="">
            </div>
        </div>
    
        <div class="card">
            <div class="content-text">
                <div class="phrase-one">
                    <span>Rapido</span>
                </div>
                <div class="title">
                    <span>Código QR</span>
                </div>
                <div class="content-description">
                    <span>Tu menú de manera rápida y fácil.</span>
                </div>
                <div class="content-btn">
                    <!-- <button></button> -->
                </div>
            </div>
            <div class="content-img">
                <img class="image-card" [src]="urlCodigoQR" alt="">
            </div>
        </div>
    
        <div class="card">
            <div class="content-text">
                <div class="phrase-one">
                    <span>Estilo</span>
                </div>
                <div class="title">
                    <span>Dale estilo a tu menú</span>
                </div>
                <div class="content-description">
                    <span>Elige el diseño de menú que más te guste.</span>
                </div>
                <div class="content-btn">
                    <!-- <button></button> -->
                </div>
            </div>
            <div class="content-img">
                <img class="image-card" [src]="urlEstilo" alt="">
            </div>
        </div>
    
        <div class="card">
            <div class="content-text">
                <div class="phrase-one">
                    <span>Clientes</span>
                </div>
                <div class="title">
                    <span>Encuestas</span>
                </div>
                <div class="content-description">
                    <span>Crea lealtad con descuentos y promociones.</span>
                </div>
                <div class="content-btn">
                    <!-- <button></button> -->
                </div>
            </div>
            <div class="content-img">
                <img class="image-card" [src]="urlEncuestas" alt="">
            </div>
        </div>
    
</div>

<div class="content-cards-menus">
    <div class="contet-header-cards">
        <p class="title-list-card-demo" >Conoce nuestros menus </p>
    </div>
    <div class="content-list-cards">
        <div class="menu-card">
            <img src="https://firebasestorage.googleapis.com/v0/b/menu-app-c542c.appspot.com/o/web%2Fhome%2Fmodel-menu%2FVioleta%20Tel%C3%A9fonos%20Celular%20Foto%20Flores%20Marketing%20Presentaci%C3%B3n%20de%20Ventas%20(1).png?alt=media&token=355b3e9f-9b0d-4f27-b2b7-d57f9d6c3759" alt="Imagen del menú">
            <h2>Menú elegance</h2>
            <p class="nivel">Premium <mat-icon>workspace_premium</mat-icon> </p>
            <p class="ventajas">Un menú elegante que eleva la experiencia gastronómica de tu restaurante.</p>
           <div class="content-btn">
            <a href="#" class="btn">Ver demo</a>
           </div>
          </div>

          <div class="menu-card">
            <img src="https://firebasestorage.googleapis.com/v0/b/menu-app-c542c.appspot.com/o/web%2Fhome%2Fmodel-menu%2FVioleta%20Tel%C3%A9fonos%20Celular%20Foto%20Flores%20Marketing%20Presentaci%C3%B3n%20de%20Ventas%20(2).png?alt=media&token=a95a88ab-e9cb-4adf-b267-673cb678ad30" alt="Imagen del menú">
            <h2>Menú Lindo</h2>
            <p class="nivel">Gratis <mat-icon>workspace_premium</mat-icon> </p>
            <p class="ventajas">Un menú visualmente atractivo que te permitirá conocer la opinión de tus clientes a través de encuestas y mejorar continuamente tu servicio.</p>
            <div class="content-btn">
                <a href="#" class="btn">Ver demo</a>
               </div>
          </div>

          <div class="menu-card">
            <img src="https://firebasestorage.googleapis.com/v0/b/menu-app-c542c.appspot.com/o/web%2Fhome%2Fmodel-menu%2FVioleta%20Tel%C3%A9fonos%20Celular%20Foto%20Flores%20Marketing%20Presentaci%C3%B3n%20de%20Ventas%20(3).png?alt=media&token=81424fb2-9772-4914-93f9-1772e1e652d2" alt="Imagen del menú">
            <h2>Menú mix</h2>
            <p class="nivel">Premium<mat-icon>workspace_premium</mat-icon> </p>
            <p class="ventajas">Un menú de búsqueda rápida que te permite destacar tus promociones y paquetes especiales, adaptándolo a las necesidades de tu negocio. Además, incluye una opción para realizar encuestas y conocer la opinión de tus clientes.</p>
            <div class="content-btn">
                <a href="#" class="btn">Ver demo</a>
               </div>
          </div>



          
    </div>
</div>




<div class="container-plans-list">
    <span class="title-plan" >Conoce nuestros planes.</span>
    <span class="subtitle-plan" >Inicia gratis en nuestro mejor plan por 1 mes gratis.</span>
    <div class="container-list-plan">
        <div class="container-plan">
            <div class="container-name01">
                <div class="conten-text">
                    <span>Platinum</span>
                    <mat-icon class="icon-premium" >workspace_premium</mat-icon>
                </div>
            </div>
            <span class="name-plan" >Super menú</span>
            <span class="description-plan" >Crea un menú completo con todas nuestras ventajas.</span>
            <span class="price-month" >$ 119.00 mes</span>
            <span></span>
            <div class="container-discount">
                <div class="container-text">
                    <span class="price-anual" >50% de descuento en el pago anual</span>
                </div>
            </div>
            <button (click)="scrollToTop()" routerLink="/web/plans" mat-button class="btn-free" >
                <span>Gratis 30 días.</span>
            </button>
            <span class="ad-cancel" >Cancela en cualquier momento.</span>
            <mat-list class="list-adve" >
                <mat-list-item class="item-list"  >
                    <mat-icon class="icon"  matListItemIcon >check</mat-icon>
                    <span matListItemTitle class="title" >Selecciona las mejores plantillas</span>
                </mat-list-item>
                <mat-list-item class="item-list">
                    <mat-icon class="icon" matListItemIcon >check</mat-icon>
                    <span matListItemTitle >Crea tu código QR.</span>
                </mat-list-item>
               
                <mat-list-item class="item-list">
                    <mat-icon class="icon" matListItemIcon >check</mat-icon>
                    <span matListItemTitle >Encuestas de satisfacción.</span>
                </mat-list-item>

                <mat-list-item class="item-list">
                    <mat-icon class="icon" matListItemIcon >check</mat-icon>
                    <span matListItemTitle >Estadísticas de encuestas.</span>
                </mat-list-item>

                <mat-list-item class="item-list">
                    <mat-icon class="icon" matListItemIcon >check</mat-icon>
                    <span matListItemTitle >Ver direcciones y números telefónicos de las encuestas.</span>
                </mat-list-item>
                <mat-list-item class="item-list">
                    <mat-icon class="icon" matListItemIcon >check</mat-icon>
                    <span matListItemTitle >Categorías y productos sin límite.</span>
                </mat-list-item>
    
                <mat-list-item class="item-list">
                    <mat-icon class="icon" matListItemIcon >check</mat-icon>
                    <span matListItemTitle >Tu menú adaptado para móviles.</span>
                </mat-list-item>
    
                <mat-list-item class="item-list">
                    <mat-icon class="icon" matListItemIcon >check</mat-icon>
                    <span matListItemTitle >Colores personalizados</span>
                </mat-list-item>
            </mat-list>
        </div>
        <div class="container-plan">
            <div class="container-name01">
                <div class="conten-text">
                    <span>Gratis</span>
                    <mat-icon class="icon-premium" >cruelty_free</mat-icon>
                </div>
            </div>
            <span class="name-plan" >Pro Menú</span>
            <span class="description-plan" >Tu menú, rapido y sencillo sin pagar nada.</span>
            <span class="price-month" >Gratis</span>
            <span></span>
            <div class="container-discount">
                <div class="container-text">
                    <span class="price-anual" >Cambia cuando quieras a Super menu</span>
                </div>
            </div>
            <button (click)="scrollToTop()" routerLink="/web/plans" mat-button class="btn-free" >
                <span>Pruébalo ahora</span>
            </button>
            <span class="ad-cancel" >Prueba ahora y participa por una suscripción anual gratis.</span>
            <mat-list class="list-adve" >
                <mat-list-item class="item-list"  >
                    <mat-icon class="icon"  matListItemIcon >cancel</mat-icon>
                    <span matListItemTitle class="title" >Selecciona las mejores plantillas</span>
                </mat-list-item>
                <mat-list-item class="item-list">
                    <mat-icon class="icon" matListItemIcon >check</mat-icon>
                    <span matListItemTitle >Crea tu código QR.</span>
                </mat-list-item>
               
                <mat-list-item class="item-list">
                    <mat-icon class="icon" matListItemIcon >check</mat-icon>
                    <span matListItemTitle >Encuestas de satisfacción.</span>
                </mat-list-item>

                <mat-list-item class="item-list">
                    <mat-icon class="icon" matListItemIcon >check</mat-icon>
                    <span matListItemTitle >Estadísticas de encuestas. (basicas) </span>
                </mat-list-item>

                <mat-list-item class="item-list">
                    <mat-icon class="icon" matListItemIcon >cancel</mat-icon>
                    <span matListItemTitle >Ver direcciones y números telefónicos de las encuestas.</span>
                </mat-list-item>
                <mat-list-item class="item-list">
                    <mat-icon class="icon" matListItemIcon >cancel</mat-icon>
                    <span matListItemTitle >Categorías y productos sin límite.</span>
                </mat-list-item>
    
                <mat-list-item class="item-list">
                    <mat-icon class="icon" matListItemIcon >check</mat-icon>
                    <span matListItemTitle >Tu menú adaptado para móviles.</span>
                </mat-list-item>
    
                <mat-list-item class="item-list">
                    <mat-icon class="icon" matListItemIcon >cancel</mat-icon>
                    <span matListItemTitle >Colores personalizados</span>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>