<div class="page-accounts">
    <div class="header-register">
        <p class="title" >tapTaste</p>
        <p class="subtitle" >Descrube tus platillos y lugares que te encantaran</p>
    </div>

    <div class="container-option-register">
        <p class="title" >Registrate para guardar tus platillos y lugares favoritos</p>
        <div class="options-register">
            <button class="btn-google" mat-icon-button  >
                <img src="https://img.icons8.com/color/48/google-logo.png" alt="">
            </button>
            <button mat-icon-button class="btn-email" >
                <img src="https://img.icons8.com/ios-filled/50/new-post.png" alt="">
            </button>
        </div>
    </div>

</div>
