<div class="container-page-my-menus">
    @if (!currenUser) {
        <div class="container-no-account">
           <button routerLink="/web/account/register" mat-button class="container-text">
            <p class="text" >Crea una cuenta y no pierdas tu menú</p>
           </button>
        </div>
    }
    <div [ngClass]="{'no-menus': menus.length === 0}"  class="container-title">
        <p class="title-page" >Menus</p>
        @if (menus.length != 0) {
            <button routerLink="/app-samari/control/new-menu" mat-button class="btn-add-menu" >
                <!-- Agregar un menu -->
                <mat-icon class="icon" >add_business</mat-icon>
            </button>
        }
    </div>

    @if(menus.length === 0){
        <div class="container-body">
            <mat-card appearance="outlined" class="card-no-menus" >
                <mat-card-header class="header-card" >
                    <mat-icon class="icon" >
                        <img class="img-icon"  src="https://img.icons8.com/pastel-glyph/64/restaurant-menu.png" alt="restaurant-menu"/>
                    </mat-icon>
                </mat-card-header>
                <mat-card-content class="card-content" >
                    <p class="title" >No tienes ningún menu creado...</p>
                    <p class="title"> ¡por ahora!</p>
                    <p class="description-card" >Crea un menu atractivo ahora es rapido, sencillo y es <span>¡gratis!</span></p>
                </mat-card-content>
                <mat-card-actions class="card-actions" >
                    <button mat-button class="btn" routerLink="web/menus/app-samari/control/new-menu" >Crea tu menu </button>
                </mat-card-actions>
            </mat-card>
        </div>
    }@else {
        <div class="container-body">
            <div class="container-list-card-menus">
                @for (item of menus; track $index) {
                    <app-card-menus [menu]="item" ></app-card-menus>
                }
            </div>
        </div>
        
        
    }
    
</div>
