.container-page-layout-03{
    position: relative;
    display: grid;
    .spinner{
        justify-self: center;
        align-self: center;
    }
}

.container-toolbar{
    display: grid;
    position: sticky; /* Se queda fijo */
    top: 0; /* Se mantiene en la parte superior */
    z-index: 1000; /* Asegura que quede por encima del resto de contenido */
    background-color: white;
}

.toolbar{
    display: grid;
    color: #4A4A4A;
   
    .container-image-header{
        min-height: 120px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    .menu-name{
        margin: 0
    }
    .container-header-menu-name{
        display: grid;
        grid-template-columns:  1fr 3fr;
        padding-left: 24px;
        padding-right: 24px;
        margin-top: 32px;
        column-gap: 16px;
        .image-logo{
            border-radius: 8px;
            width: 100%;
            height: 100%;
            
        }

        .container-name{
            display: grid;
            align-content: space-between;
           .menu-name{
            font-size: 1.6rem;
            font-weight: 800;
            letter-spacing: 0.1rem;
           } 
           .contianer-icons-header{
            display: flex;
            .btn-survey{
                text-wrap: nowrap;
                color: #4A4A4A;
            }
           }
        }
    }

}



.container-list-cagories{
    display: flex;
    position: sticky;
    z-index: 1000;
    column-gap: 4px;
    overflow-x: scroll;
    // padding-left: 24px;
    // padding-right: 24px;
    scrollbar-width: none;
    // padding-top: 8px;
    // padding-bottom: 0px;
    margin-top: 20px;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    margin-left: 24px;
    margin-right: 24px;
    .btn-category{
        text-wrap: nowrap;
        width: fit-content;
        padding: 12px 8px;
        font-size: 0.9rem;
        cursor: pointer;
        background-color: transparent;
        border: none;
        
        color: #4A4A4A;
        font-weight: 540;
        height: 100%;
        transition: color 0.3s ease, border-bottom 0.3s ease,font-weight 0.3s ease; /* Añadir transición */
    }
    .btn-category.active{
        color: orangered;
        font-weight: 560;
        border-bottom: 4px solid orangered;
        
    }
}

.container-no-products{
    padding: 16px;
    // border: #F0F0F0;
    display: grid;
    .icon{
        margin-top: 16px;
        font-size: 2rem;
        color: #4A4A4A;
        width: fit-content;
        height: fit-content;
        justify-self: center;

    }
    p{
        margin-top: 16px;
        color: #4A4A4A;
        text-align: center;
    }
}
.container-list-products-by-categories{
    padding: 16px 24px 16px 24px;
    margin-bottom: 600px;
    .container-category{
        margin-top: 0px;
        .title-category{
            font-size: 1.2rem;
            font-weight: 700;
        }
    }
    .container-list-propducts{
        .container-product{
            display: flex;
            justify-content: space-between;
        }
    }

}