.container-pages-layout-web{
  position: relative;
  min-height: 100vh;
  .container-router{
   
    
  }
}


.footer-menu {
   
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.06);
    position: fixed;
    align-items: center;
    z-index: 10001;
    // height: 120px;
   
  }
  
  .footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .footer-menu button {
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    padding-top: 12px;
    padding-bottom: 20px;
    height: fit-content;
    color: #a0a0a0;
    .material-icons{
        justify-self: center;
        margin: 0;
    }
    span{
        justify-self: center;
    }
  }
  
  .footer-menu button.active {
    color: #FF4500 /* O el color que prefieras para el ícono activo */
  }

  