<div class="container-botton-sheet">
@if (menu) {
    <div class="container-title">
        <p>{{menu.nameCompany}}</p>
    </div>
    <div class="container-qr">
        <img class="image-qr" [src]="qrCodeImage" alt="">
    </div>
    <div class="container-option">
        <!-- <button mat-icon-button >
            <img src="https://firebasestorage.googleapis.com/v0/b/menu-app-c542c.appspot.com/o/web%2Ficons%2Ficons8-whatsapp-100.png?alt=media&token=fc4bf22f-f87e-456b-ba3f-4cf426cde2fe" alt="">
        </button> -->
        <!-- <button mat-icon-button >
            <img src="" alt="">
        </button> -->
        <!-- <button mat-icon-button >
            <img src="https://firebasestorage.googleapis.com/v0/b/menu-app-c542c.appspot.com/o/web%2Ficons%2Ficons8-share-30.png?alt=media&token=b2e201e5-2fe5-4473-b544-ad31450c2fbe" alt="">
        </button> -->
        
    </div>

    <div class="container-info">
        <div class="container">
            <p class="title" >Dirección</p>
            <p class="info" >{{menu.adress ? menu.adress : 'No hay dirección registrada' }}</p>
        </div>
        <div class="container">
            <p class="title" >Horario</p>
            <p>{{menu.horario ? menu.horario : 'No hay horario registrado' }}</p>
        </div>
    </div>
}@else {
   
        <mat-progress-spinner class="spinner" [mode]="'indeterminate'" ></mat-progress-spinner>
   
}
    
</div>
