
.container-spinner{
    display: grid;
    min-height: 100vh;
    place-content: center;
}

.progress-spinner ::ng-deep svg circle {
    stroke: #2b2b2b; /* Color del círculo del spinner */
    stroke-width: 3px; /* Grosor del círculo */
}

.toolbar{
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
    .btn-survey{
        color: #2b2b2b;
        
    }

}
.container-page{
    background-color: #f6f6f6;
    min-height: 100vh;
   
}

.container-header-page{
    margin-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    .container-menu-name{
        display: flex;
        column-gap: 16px;
        .img-logo{
            width: 80px;
            height: 80px;
            border-radius: 8px;
            box-shadow: 2px 2px 12px  #e7e7e7;
        }
        .content-name{
            .title{
                font-size: 1.2rem;
                color: #2b2b2b;
                font-weight: 800;
                margin-bottom: 8px;
            }
            .subtitle{
                color: #8a8a8a;
                margin-bottom: 8px;
            }

        }

    }
    .container-promo{
        margin-bottom: 12px;
    }
    

}
.container-icons-categorias{
    position: sticky; /* Sticky positioning for performance */
    top: 0; /* Fixed at the top when scrolled */
    // background-color: rgba(255, 255, 255, 0.8); /* Transparent background */
    // filter: blur(2px); /* Optional blur for aesthetics */
    // box-shadow: 2px 2px 12px #e7e7e7; /* Shadow for depth */
    padding-left: 16px;
    margin-top: 24px;
    display: flex;
    column-gap: 32px;
    padding-bottom: 12px;
    transition: all 0.2s ease-in-out; /* Smooth transition */
    z-index: 1000;
    padding-bottom: 16px;
    padding-top: 16px;
    background-color: #f6f6f6;
    .container-icon{
        background-color: #f6f6f6;
        border-radius: 8px;
        box-shadow: 2px 2px 12px  #e7e7e7;
        padding: 12px;
        width: fit-content;
        display: flex;
        justify-content: center;
        border: none;
        align-items: center;
        cursor: pointer;
        // transition-property: all 5s;
        .icon{
            color: white;
        }
        .icon-active{
            display: none;
        }
        .icon-desactive{
            display: block;
        }
    }
    // .container-icon:hover{
    //     background: #e3e3e3;
    // }
    .container-icon.active{
        background-color: #2b2b2b;
        transition: background-color 0.3s ease-in-out;
        .icon-active{
            display: block;
        }
        .icon-desactive{
            display: none;
        }
    }

}
// .container-icons-categorias::before{
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: #f6f6f6e6; /* Fondo con transparencia */
//     filter: blur(10px); /* Ajusta el valor de blur según tus preferencias */
//     z-index: -1;

// }

.container-icons-categorias::-webkit-scrollbar{
    width: 0;
}

.container-router{
   
    .container-page-home{
        padding-top: 32px 12px 24px 12px;
        
        .list-paltillos{
            // display: flex;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 16px;
            row-gap: 100px;
            padding-left: 16px;
            padding-right: 16px;
            margin-top: 80px;
    
            .card{
                padding: 60px 16px 12px 16px;
                background-color: white;
                box-shadow: 2px 2px 12px  #e7e7e7;
                // width: 240px;
                border-radius: 16px;
                position: relative;
                background-color: white;
                max-width: 180px;
                display: grid;
                grid-row: 1fr 1fr 1fr;
                .image-platillo{
                    img{
                        position: absolute;
                        top: -15px;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 140px;
                        z-index: 100;
                    }
                    .shadow {
                        position: absolute;
                        content: "";
                        top: -0px; /* Ajusta la posición vertical de la sombra */
                        transform: translate(0%, -50%);
                        width: 60px;
                        left: 30%;
                        height:0px; /* Ajusta el tamaño de la sombra */
                        background-color: transparent; /* Color y opacidad de la sombra */
                        border-radius: 100%; /* Redondea los bordes de la sombra */
                        box-shadow: 0 5px 20px 30px rgba(40, 40, 40, 0.281) ;
                    }
                    
                }
                .container-text{
                    display: grid;
                    .title{
                        font-size: 1.2rem;
                        color: #2b2b2b;
                        font-weight: 800;
                    }
                    .subtitle{
                        color: #8a8a8a;
                    }
                    .container-footer{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        // padding-right: 12px;
                        height: fit-content;
                        .price{
                            font-size: 1rem;
                            color: #2b2b2b;
                            font-weight: 800;
                            margin: 0;
                        }
                        .btn-favorite{
                           color: #8a8a8a;
    
                        }
                        .icon{
                           
                            
                        }
                    }
                }
            }
        }
    
    }
    
    @media (min-width:560px) {
        .container-page-home{
            padding-left: 60px;
            padding-right: 60px;
            .list-paltillos{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                column-gap: 60px;
                row-gap: 100px;
                .card{
                    flex: 1;
                }
            }
        }
        
    }

    

}

@media (min-width:560px) {
    .container-header-page{
        padding-left: 60px;
    }
    .container-icons-categorias{
        padding-left: 60px;
    }
    .container-router{
        
    }
    
}