.toolbar{
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
    .btn-survey{
        color: #2b2b2b;
        
    }

}
.container-page{
    background-color: #f6f6f6;
   
}

.container-header-page{
    margin-top: 24px;
    padding-left: 16px;
    position: relative;
    .title{
        font-size: 1.2rem;
        color: #2b2b2b;
        font-weight: 800;
        margin-bottom: 8px;
    }
    .subtitle{
        color: #8a8a8a;
        margin-bottom: 8px;
    }

}
.container-icons-categorias{
    position: sticky; /* Sticky positioning for performance */
    top: 0; /* Fixed at the top when scrolled */
    // background-color: rgba(255, 255, 255, 0.8); /* Transparent background */
    // filter: blur(2px); /* Optional blur for aesthetics */
    // box-shadow: 2px 2px 12px #e7e7e7; /* Shadow for depth */
    padding-left: 16px;
    margin-top: 24px;
    display: flex;
    column-gap: 32px;
    padding-bottom: 12px;
    transition: all 0.2s ease-in-out; /* Smooth transition */
    z-index: 1000;
    padding-bottom: 16px;
    padding-top: 16px;
    background-color: #f6f6f6;
    .container-icon{
        background-color: #f6f6f6;
        border-radius: 8px;
        box-shadow: 2px 2px 12px  #e7e7e7;
        padding: 12px;
        width: fit-content;
        display: flex;
        justify-content: center;
        border: none;
        align-items: center;
        cursor: pointer;
        // transition-property: all 5s;
        .icon{
            color: white;
        }
        .icon-active{
            display: none;
        }
        .icon-desactive{
            display: block;
        }
    }
    // .container-icon:hover{
    //     background: #e3e3e3;
    // }
    .container-icon.active{
        background-color: #2b2b2b;
        transition: background-color 0.3s ease-in-out;
        .icon-active{
            display: block;
        }
        .icon-desactive{
            display: none;
        }
    }

}
// .container-icons-categorias::before{
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: #f6f6f6e6; /* Fondo con transparencia */
//     filter: blur(10px); /* Ajusta el valor de blur según tus preferencias */
//     z-index: -1;

// }

.container-icons-categorias::-webkit-scrollbar{
    width: 0;
}

.container-router{
   
    min-height: 100vh;
    padding-bottom: 60px;

    

}

@media (min-width:560px) {
    .container-header-page{
        padding-left: 60px;
    }
    .container-icons-categorias{
        padding-left: 60px;
    }
    .container-router{
        
    }
    
}