
    <p mat-dialog-title >Crea un nuevo menú</p>
    <form class="form" [formGroup]="form" >
        <mat-form-field  >
            <mat-label>Nombre del menú</mat-label>
            <input formControlName="name"  type="text" matInput >
            <mat-hint>*Tacos el Don, Restaunrate las 4 esquinas</mat-hint>
        </mat-form-field>
    </form>


<mat-dialog-actions>
    <button class="btn btn-cancel" mat-button matDialogClose >Cancelar</button>
    <button class="btn btn-add" mat-button cdkFocusInitial (click)="addBussiness()" >Crear menú</button>

</mat-dialog-actions>
