<div class="container-component-plats">
    <div class="container-list-plats">
      @for (plat of productList; track $index) {
        <mat-card class="card-plat my-card" appearance="outlined">
         @if (plat.urlImage) {
          <img class="img-card" [src]="plat.urlImage" alt="">
         }@else {
          <img class="img-card" [src]="urlNoImage" alt="">
         }
          <mat-card-content class="content" >
            <p class="name" >{{plat.name}}</p>
          </mat-card-content>
          <div class="footer" >
          
           
              <button class="btn-tap" mat-icon-button >
               <mat-icon>touch_app</mat-icon>
              </button>
           
           <button mat-icon-button class="btn-save" >
               <mat-icon>bookmark</mat-icon>
           </button>
         
           
          </div>
        </mat-card>
      }
    </div>
  </div>
