<div class="container-page-search">
    <div class="container-header">
        <div class="container-name">
            <p class="title" >tapTaste</p>
            <p class="subtitle" >Menus & Food</p>
        </div>
        <input type="text" class="input" >
    </div>
    <div class="container-option">
        <div class="container-list-options-searchs">
            <div class="option-search">
                <img width="64" height="64" src="https://firebasestorage.googleapis.com/v0/b/menu-app-c542c.appspot.com/o/web%2Fsearch%2Ficons8-menu-50.png?alt=media&token=7e44c868-fc88-4159-8dfb-c71fb9984b81" alt="external-menu-hotel-services-flatart-icons-outline-flatarticons"/>
                <p class="name-option" >Menus</p>
            </div>
            <div class="option-search">
                <img width="64" height="64" src="https://firebasestorage.googleapis.com/v0/b/menu-app-c542c.appspot.com/o/web%2Fsearch%2Ficons8-meal-50.png?alt=media&token=e28b25c7-05b9-419b-9594-b6ba2e723df0" alt="external-menu-hotel-services-flatart-icons-outline-flatarticons"/>
                <p class="name-option" >Platillos</p>
            </div>
            <div class="option-search">
                <img width="64" height="64" src="https://firebasestorage.googleapis.com/v0/b/menu-app-c542c.appspot.com/o/web%2Fsearch%2Ficons8-promo-50.png?alt=media&token=f6a23c67-828d-4656-a8d6-f4548ba0af2b" alt="external-menu-hotel-services-flatart-icons-outline-flatarticons"/>
                <p class="name-option" >Promociones</p>
            </div>
            <!-- <div class="option-search">
                <img width="64" height="64" src="https://firebasestorage.googleapis.com/v0/b/menu-app-c542c.appspot.com/o/web%2Fsearch%2Ficons8-route-64.png?alt=media&token=ba6a0299-1eeb-4871-84b8-1807e6c067e5" alt="external-menu-hotel-services-flatart-icons-outline-flatarticons"/>
                <p class="name-option" >Rutas</p>
            </div>
            <div class="option-search">
                <img width="64" height="64" src="https://firebasestorage.googleapis.com/v0/b/menu-app-c542c.appspot.com/o/web%2Fsearch%2Ficons8-trending-48.png?alt=media&token=74b7732d-263c-4b06-9304-6cf3cb40cd7a" alt="external-menu-hotel-services-flatart-icons-outline-flatarticons"/>
                <p class="name-option" >Tendencia</p>
            </div>
            <div class="option-search">
                <img width="64" height="64" src="https://firebasestorage.googleapis.com/v0/b/menu-app-c542c.appspot.com/o/web%2Fsearch%2Ficons8-restaurant-50.png?alt=media&token=945abb9a-d92a-4d25-896b-e73f009aecc4" alt="external-menu-hotel-services-flatart-icons-outline-flatarticons"/>
                <p class="name-option" >Lugares</p>
            </div> -->
        </div>
    </div>
</div>
