.container-user{
    padding: 12px;
    margin-top: 40px;
    max-width: 400px;
}

.content-page{
    display: grid;
    min-height: 80vh;
    padding: 32px 16px 52px 16px;
}
.content-plan{
    background-color: white;
    padding: 24px;
    border-radius: 12px;
    max-width: 400px;
    .plan-header{
        .title-header{
            font-size: 1.2rem;
            color: #2b2b2b;
            font-weight: bold;
            text-align: center;
        }
    }
    .content-period-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 12px;
        border-radius: 8px;
        background-color: #faf9fd;
        .content-period{
           
            border-radius: 4px;
            padding: 8px;
            height: fit-content;
            padding: 8px;
            border: none;
            background-color: transparent;
           
            .period{
                font-size: 1rem;
                color: #2b2b2b;
                font-weight: bold;
                text-align: center;
                margin: 0;
               
            }
            .price{
                color: #34C759;
                font-weight: bold;
                font-weight: 0.9rem;
                text-align: center;
                margin: 0;
                margin-top: 12px;
                
            }


        }
        .content-period.active{
            background-color: white;
            box-shadow: 0 0 4px rgba(176, 176, 176, 0.651);
            transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
      transform: scale(1.05); // Aumenta ligeramente el tama침o del bot칩n
        }

    }

    .content-model-premium{
        margin-top: 24px;
        background-color: #faf9fd;
        // color: white;
        border-radius: 12px;
        padding: 16px;
        text-align: center;
        border: 2px solid #34C759;
        .title-plan{
            // font-weight: bold;
            font-size: 1.2rem;
           font-weight: bold;
           text-transform: uppercase;
           color: #2b2b2b;
           display: flex;
           align-items: center;
           text-align: center;
           justify-content: center;
           column-gap: 8px;
           .icon{
            color: #34C759;
            font-size: 2rem;
            width: fit-content;
            height: 100%;
           }
        }
        .price{
            font-weight: 800;
        }
        .content-save{
            padding: 8px 16px 8px 16px;
            border-radius: 99px;
            background-color: #bdffce;

            .save{
                font-weight: bold;
                margin: 0;
                color: #005e17;
                
            }
    

        }



    }
    .content-model-premium.active{
        display: none;
    }
    .content-model-premium-month{
        margin-top: 24px;
        background-color: #faf9fd;
        // color: white;
        border-radius: 12px;
        padding: 16px;
        text-align: center;
        // border: 2px solid #005e17;
        .title-plan{
            // font-weight: bold;
            font-size: 1.2rem;
           font-weight: bold;
           text-transform: uppercase;
           color: #2b2b2b;
           display: flex;
           align-items: center;
           text-align: center;
           justify-content: center;
           column-gap: 8px;
           .icon{
            color: #34C759;
            font-size: 2rem;
            width: fit-content;
            height: 100%;
           }
        }
        .price{
            font-weight: 800;
        }
        .content-save{
            padding: 8px 16px 8px 16px;
            border-radius: 99px;
            background-color: #ffff6f;

            .no-save{
                margin: 0;
                color: #6a6a00;
                
            }
    

        }



    }
    
    .content-model-premium-month.active{
        display: none;
    }

    .content-buttons{
        display: grid;
        row-gap: 16px;
        margin-top: 40px;
        
        .btn{
            height: fit-content;

        }
        .btn-buy{
            background-color: #2b2b2b;
            color: white;
            min-height: 52px;
            font-size: 1.2rem;
            text-transform: uppercase;
            border-radius: 8px;
        }
        .btn-paypal{
            min-height: 52px;
            border-radius: 8px;
            font-size: 1.2rem;
        }
        .btn-free{
            box-shadow: 0 0 4px rgba(234, 234, 234, 0.853);
            min-height: 52px;
            border-radius: 8px;
            color: #2b2b2b;
        }
        .text-ad{
            color: #4A4A4A;
            margin-bottom: 8px;
            font-size: 0.9rem;
        }
    }

    
}

@media (min-width:420px) {
    .content-page-buy-now{
        display: grid;
        justify-content: center;
        .container-user{
            display: grid;
            justify-content: center;
            justify-items: center;
        }
        .content-page{
            display: grid;
            justify-content: center;
            .content-plan{
                justify-self: center;
            }
    
        }

    }
    
    
    
}


.container-no-user{
    padding: 32px 24px 60px 24px;
    margin-bottom: 60px;
    height: fit-content;
    // min-height: 100vh;
    
    .title{
        font-size: 1.2rem;
        color: #2b2b2b;
        text-align: center;
    
    }
    .content-selection{
        // max-height: 400px;
        max-width: 400px;
    }
    .content-selection-btn{
        display: grid;
       
        padding: 8px 12px;
        background-color: #f0f0f0;
        border-radius: 12px;
        .btn{
            background-color: transparent;
            border: none;
            font-size: 1rem;
            padding: 12px;
            border-radius: 8px;
            color: #4A4A4A;
            cursor: pointer;
        }
        .btn.active{
            background-color: white;
            box-shadow: 0 0 4px rgba(176, 176, 176, 0.407);
            transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
            transform: scale(1.05); // Aumenta ligeramente el tama침o del bot칩n
            font-weight: bold;
        }
        .content-btn{
            display: grid;
            grid-template-columns: 1fr 1fr;

        }
        
    }

}

@media (min-width:460px) {
    .container-no-user{
        display: grid;
        .content-selection{
            justify-self: center;
            min-width: 320px;
        }
    }
    
}